html {
    font-family: Arial, sans-serif;
    line-height: 1.15;
}

.topnav {
    background-color: green;
    overflow: hidden;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 14px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
}

input[type=text], input[type=submit] {
    width: 50%;
    padding: 12px;
    margin-top: 8px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid lightgreen;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: green;
    color: white;
    border: none;
}

table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    border-collapse: collapse;
}

th,td {
    width: 20px;
    padding: 5px;
}

caption {
    font-weight: bold;
}

ul {
    text-align: left;
    display: inline-block;
}

.logo {
    height: 450px;
}